.stepper-icon {
  width: 20px;
  height: 20px;
}

/* .stepper-1 > span {
  width: 40px;
  height: 40px;
}

.stepper-1 > div {
  width: 30px;
  height: 30px;
}

.stepper-1 .MuiStepLabel-label {
  font-size: 15px;
} */
