.autocomplete-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.error-message {
  color: red;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
