.header-section {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/images/_26ff86d0-8e48-4572-92c9-e7fb02b47805.jpg");
}
